<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProjectSAD-SamPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>entity.TblSessionQuestion</class>
    <class>entity.TblSubject</class>
    <class>entity.TblQuestion</class>
    <class>entity.TblUser</class>
    <class>entity.TblSession</class>
    <class>entity.TblFavorite</class>
    <class>entity.TblAnswer</class>
    <class>entity.TblMessage</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <!--    <properties>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.password" value="123456"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/cungonbai_data?zeroDateTimeBehavior=convertToNull"/>
    </properties>-->
    <properties>
      <property name="hibernate.connection.username" value="sadgroup3"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.password" value="sad@2812"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://128.199.209.247:3306/cungonbai_data?zeroDateTimeBehavior=convertToNull"/>
      <!--<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/cungonbai_data?zeroDateTimeBehavior=convertToNull"/>-->
    </properties>
  </persistence-unit>
</persistence>
